<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <virtualType name="AD\NewContactUs\Model\ResourceModel\Appeal\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ad_contact_us</argument>
            <argument name="resourceModel" xsi:type="string">AD\NewContactUs\Model\ResourceModel\Appeal</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="appeal_grid_data_source" xsi:type="string">AD\NewContactUs\Model\ResourceModel\Appeal\Grid\Collection</item>
            </argument>
        </arguments>
    </type>


</config>
